<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar>Trumpet Nuggets</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['nuggets', nugget.id]"
        routerLinkActive="active-item"
         *ngFor="let nugget of nuggets$|async">
         {{nugget.id}}
         <mat-chip-list *ngIf="nugget.playCount" style="margin-left: 8px;">
           <mat-chip>{{nugget.playCount}}</mat-chip>
         </mat-chip-list>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span style="flex: 1; display: flex;">
        <span>🎶 Web MIDI Trumpet
          <font color="#ffff80" style="margin-left: 2em">
            https://go.urish.org/trumpet</font>
        </span>
        <span style="flex: 1"></span>
        <span>@UriShaked</span>
      </span>
    </mat-toolbar>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
