:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

ngx-monaco-editor {
  flex: 1;
  margin-bottom: 60px;
}

mat-progress-spinner {
  position: absolute;
  z-index: 100;
  top: 20px;
  left: 50%;
}
